.body{
    margin: 0;
}.header{
    height: 80px;
}

.header-block{
    background: yellow;
    width: 650px;
    margin: 0 auto;
}
.header-block .logo{
    width: 150px;
    float: left;
}
.header-block .menu{
    width: 490px;
    float: left;
}
.menu ul{
     text-decoration: none;
}
.menu ul li{
    list-style-type: none;
    float: left;
    margin: 10px 17px;
    font-size: 16px;
    cursor: pointer;
}
.menu ul li:hover{
    color: red;
}
.slider{
    height: 530px;
}
.slider-block{
    background: rgb(228, 28, 111);
    width: 650px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    align-self: center;
    padding-bottom: 180px;
}
.button{
    align-self: center;
}
.slider-block h2{
    font-size: 20px;
    align: center;
    margin-top: 110px;
    color: ivory;
}
.slider-block p{
    font-size: 18px;
    color: ivory;
}
.content{
    height: 80px;
}
.content-block{
    width: 650px;
    margin: 0 auto;
    text-align: center;
}
.content-block h3{
     color: rgba(3, 0, 1, 0.815);
     height: 0px;
}
.content-block h5{
     margin-bottom: 200px;
     color: mediumblue;
}
.footer{
    height: 40px;
}
.footer-block{
    width: 650px;
    margin: 0 auto;
    text-align: center;
}